<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="center-title ">Gestión y Control de Rondas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Ronda</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Bienvenidos</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimizar">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">

      <!-- inicio area  -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center card-title m-2 text-primary font-weight-bold ">Agregar Nuevo Jefe Responsable de Area</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="crearForm" (ngSubmit)="onSubmit()">
            <!-- inicio nombre -->
            <div class="form-group">
              <label for="responName">Nombre del Jefe de Area</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i *ngIf="crearForm.get('responName')?.valid || !crearForm.get('responName')?.touched" class="fas fa-user"></i>
                    <i *ngIf="crearForm.get('responName')?.invalid && crearForm.get('responName')?.touched" class="fas fa-times-circle text-danger"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="responName" formControlName="responName" placeholder="Ingresa el Nombre Completo">
              </div>
              <div *ngIf="crearForm.get('responName')?.invalid && (crearForm.get('responName')?.dirty || crearForm.get('responName')?.touched)">
                <div class="text-danger" *ngIf="crearForm.get('responName')?.errors?.['required']">El Jefe de Area es obligatorio.</div>
                <div class="text-danger" *ngIf="crearForm.get('responName')?.errors?.['minlength']"><br>El Jefe de Area debe tener al menos 5 caracteres.</div>
                <div class="text-danger" *ngIf="crearForm.get('responName')?.errors?.['maxlength']">El Jefe de Area no debe exceder los 50 caracteres.</div>
              </div>
            </div>
            <!-- fin nombre  -->

            <!-- inicio correo jefe area responsable -->
            <div class="form-group">
              <label for="responEmail">Correo</label>
              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">
                <i *ngIf="crearForm.get('responEmail')?.valid || !crearForm.get('responEmail')?.touched" class="fas fa-envelope"></i>
                <i *ngIf="crearForm.get('responEmail')?.invalid && crearForm.get('responEmail')?.touched" class="fas fa-times-circle text-danger"></i>
                </span>
                </div>
                <input type="email" class="form-control" id="responEmail" formControlName="responEmail" placeholder="Ingrese el Correo">
              </div>
              <div *ngIf="crearForm.get('responEmail')?.invalid && (crearForm.get('responEmail')?.dirty || crearForm.get('responEmail')?.touched)">
                <div class="text-danger">
                  <span *ngIf="crearForm.get('responEmail')?.errors?.['required']">El correo electrónico es obligatorio.</span>
                  <span *ngIf="crearForm.get('responEmail')?.errors?.['email']">Formato de correo electrónico incorrecto.</span>
                </div>
              </div>
            </div>
            <!-- fin correo jefe area responsable -->

            <div class="text-center">
              <!-- Inicio Botón para abrir el modal de confirmación -->
              <div class="form-group">
                <div class="col-md-4">
                  <button type="button" class="btn btn-outline-primary btn-block" style="margin-bottom: 10px; " data-toggle="modal" data-target="#confirmacionModal">
                    Crear Jefe de Area
                  </button>
                </div>
                <div class="col-md-4">
                  <!-- Botones de Cancelar y Volver -->
                  <button type="button" class="btn btn-outline-secondary btn-block" style="margin-bottom: 10px;" (click)="cancelar()">Cancelar</button>
                </div>
                <div class="col-md-4">
                  <a href="dashboard/respons-jefearea" class="btn btn-outline-info btn-block" style="margin-bottom: 10px;">Volver</a>
                  <!-- Botón para limpiar la firma -->
                  <!-- <button type="button" class="btn btn-outline-success btn-block" style="margin-bottom: 10px;" (click)="limpiarFirma()">Limpiar firma</button> -->
                </div>
              </div>
            </div>
            <!-- Modal de confirmación -->
            <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Confirmar creación Jefe de Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Detalles del Jefe de Area -->
                    <p>Detalles del Jefe de Area:</p>
                    <!-- Aquí puedes mostrar los detalles del Jefe de Area que el usuario necesita confirmar -->
                  </div>
                  <div class="modal-footer">
                    <!-- Botón para cancelar -->
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <!-- Botón para confirmar y enviar el formulario -->
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!crearForm.valid || responJefeAreaEnProceso" (click)="responJefeAreaCreado = true">Confirmar y Crear</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Alerta de éxito al crear el Jefe de Area -->
            <div *ngIf="responJefeAreaCreado" class="alert alert-success alert-dismissible fade show" role="alert">
              Jefe de Area creado correctamente.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarMensaje()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Alerta de error al crear el Jefe de Area -->
            <div *ngIf="errorCrearResponJefeArea" class="alert alert-danger" role="alert">
              Error al crear el piso: {{ errorCrearResponJefeArea}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarMensaje()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- fin -->
          </form>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      2024 ...
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
