<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="center-title ">Gestión y Control de Rondas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Ronda</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Bienvenidos</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimizar">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">

      <!-- inicio categoria  -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center card-title m-2 text-primary font-weight-bold ">Agregar Nueva Categoria</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="crearForm" (ngSubmit)="onSubmit()">
            <!-- inicio nombre -->
            <div class="form-group">
              <label for="categName">Nombre de la Categoria</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i *ngIf="crearForm.get('categName')?.valid || !crearForm.get('categName')?.touched" class="fa fa-sticky-note"></i>
                    <i *ngIf="crearForm.get('categName')?.invalid && crearForm.get('categName')?.touched" class="fas fa-times-circle text-danger"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="categName" formControlName="categName" placeholder="Ingresa el Nombre Completo">
              </div>
              <div *ngIf="crearForm.get('categName')?.invalid && (crearForm.get('categName')?.dirty || crearForm.get('categName')?.touched)">
                <div class="text-danger" *ngIf="crearForm.get('categName')?.errors?.['required']">La Categoria es obligatorio.</div>
                <div class="text-danger" *ngIf="crearForm.get('categName')?.errors?.['minlength']"><br>La Categoria debe tener al menos 5 caracteres.</div>
                <div class="text-danger" *ngIf="crearForm.get('categName')?.errors?.['maxlength']">La Categotia no debe exceder los 50 caracteres.</div>
              </div>
            </div>
            <!-- fin categoria  -->

            <!-- inicio -->
            <!-- Botón para abrir el modal de confirmación -->
            <div class="form-group">
            <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#confirmacionModal">
              Crear Categoria
            </button>
              <!-- Botones de Cancelar y Volver -->
              <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;" (click)="cancelar()">Cancelar</button>
              <a href="categoria-junical" class="btn btn-outline-info">Volver</a>
            </div>
            <!-- Modal de confirmación -->
            <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Confirmar creación de Categoria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Detalles del Categoria -->
                    <p>Detalles del Categoria:</p>
                    <!-- Aquí puedes mostrar los detalles del Categoria que el usuario necesita confirmar -->
                  </div>
                  <div class="modal-footer">
                    <!-- Botón para cancelar -->
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <!-- Botón para confirmar y enviar el formulario -->
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!crearForm.valid || categoriaEnProceso" (click)="categoriaCreado = true">Confirmar y Crear</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Alerta de éxito al crear el Categoria -->
            <div *ngIf="categoriaCreado" class="alert alert-success alert-dismissible fade show" role="alert">
              Categoria creado correctamente.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarMensaje()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Alerta de error al crear el Categoria -->
            <div *ngIf="errorCrearCategoria" class="alert alert-danger" role="alert">
              Error al crear el piso: {{ errorCrearCategoria}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarMensaje()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- fin -->
          </form>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      2024 ...
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
