
/*
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

*/

/*
  .fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
  */

/*
.sidebar-collapse {
  display: none;
}

*/



