<!-- imagen de carga -->
<div id="loader" class="loader-wrapper">
  <img src="/assets/dist/img/JunicalCargar.png"
       srcset="/assets/dist/img/JunicalCargar.png 300w,
               /assets/dist/img/JunicalCargar.png 150w"
       alt="Cargando...">
  <div class="loader"></div>
  <p class="loader-text">Cargando...</p> <!-- Mensaje de carga -->
</div>

<div class="contenido-oculto" style="display: none;">
  <!-- imagen de carga -->

<body class="hold-transition">
<div class="register-box container-fluid ">
  <div class="row">
    <div class="col-12">
  <div class="login-logo">
    <img src="./assets/dist/img/JunicalCargar.png" style="width: 85px; height: 60px; " alt="imagLogo">
    <a href="https://www.junicalmedical.com.co/"><b class="font-weight-bold" >Rondas</b>ADMIN</a>
  </div>


  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg text-primary font-weight-bold"> Crear Nuevo Registro</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- inicio de nombre completo-->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="nombreCompleto" formControlName="nombreCompleto" placeholder="Ingresa el Nombre Completo">
          <div class="input-group-append">
            <div class="input-group-text">
              <i *ngIf="registerForm.get('nombreCompleto')?.valid || !registerForm.get('nombreCompleto')?.touched" class="fas fa-user"></i>
              <i *ngIf="registerForm.get('nombreCompleto')?.invalid && registerForm.get('nombreCompleto')?.touched" class="fas fa-times-circle text-danger"></i>
            </div>
          </div>
        </div>
        <div *ngIf="registerForm.get('nombreCompleto')?.invalid && (registerForm.get('nombreCompleto')?.dirty || registerForm.get('nombreCompleto')?.touched)">
          <div class="text-danger" *ngIf="registerForm.get('nombreCompleto')?.errors?.['required']">El nombre completo es obligatorio.</div>
          <div class="text-danger" *ngIf="registerForm.get('nombreCompleto')?.errors?.['minlength']"><br>El nombre completo debe tener al menos 5 caracteres.</div>
          <div class="text-danger" *ngIf="registerForm.get('nombreCompleto')?.errors?.['maxlength']">El nombre completo no debe exceder los 50 caracteres.</div>
        </div>
        <!-- fin de nombre completo-->

        <!-- inicio de correo-->
        <div class="input-group mb-3">
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo Electrónico">
          <div class="input-group-append">
            <div class="input-group-text">
              <i *ngIf="registerForm.get('email')?.valid || !registerForm.get('email')?.touched" class="fas fa-envelope"></i>
              <i *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="fas fa-times-circle text-danger"></i>
            </div>
          </div>
        </div>
        <span class="text-danger" *ngIf="email != null && email.touched && email.invalid">El Correo es Invalido</span>
        <span class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']"> <br>Formato de correo electrónico incorrecto.</span>
        <!-- fin de correo-->

        <!-- inicio de contraseña-->
        <div class="input-group mb-3">
          <input (input)="checkPasswordStrength()" formControlName="password" type="password" class="form-control" id="password"   placeholder="Ingrese su Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span class="text-danger" *ngIf="password != null && password.touched && password.invalid">* La Contraseña es Requerida </span>
        <span class="text-danger" *ngIf="!hasLetters && password?.touched"> <br>* Debe tener letras</span>
        <span class="text-danger" *ngIf="!hasNumbers && password?.touched"> <br>* Debe tener números</span>
        <span class="text-danger" *ngIf="!hasSymbols && password?.touched"> <br>* Debe tener caracteres especiales</span>
        <span class="text-danger" *ngIf="tooShort && password?.touched"> <br>* Debe de tener 10 caracteres.</span>
        <!-- fin de contraseña-->


        <!-- inicio confirmar contraseña-->
        <div class="input-group mb-3">
          <input formControlName="passwordConfirmar" type="password" class="form-control" placeholder="Confirmar Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span class="text-danger" *ngIf="passwordConfirmar != null && password != null && passwordConfirmar.touched && passwordConfirmar.invalid">* Contraseña es Requerido</span>
        <span class="text-danger" *ngIf="passwordConfirmar != null && password != null && passwordConfirmar.value != password.value"> <br>* La Contraseña No Coincide</span>

        <!-- inicio identificacion responsable -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="identificacion" formControlName="identificacion" placeholder="Ingrese el Número de Cedula">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <i *ngIf="!isInvalidIdentificacion()" class="fas fa-id-card"></i>
                <i *ngIf="isInvalidIdentificacion()" class="fas fa-times-circle text-danger"></i>
                </div>
            </div>
          </div>
        <div *ngIf="isInvalidIdentificacion()">
            <div
              class="text-danger">{{ getErrorIdentificacion() }}
            </div>
          </div>
        <!-- fin identificacion responsable -->

        <!-- inicio celular responsable -->
        <div class="input-group mb-3">
          <input type="tel" class="form-control" id="celular" formControlName="celular" pattern="^\d{10}$" placeholder="Ingrese el Número de Celular">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i *ngIf="registerForm.get('celular')?.valid || !registerForm.get('celular')?.touched" class="fas fa-phone"></i>
                <i *ngIf="registerForm.get('celular')?.invalid && registerForm.get('celular')?.touched" class="fas fa-times-circle text-danger"></i>
              </div>
            </div>
          </div>
        <div class="text-danger" *ngIf="registerForm.get('celular')?.invalid && (registerForm.get('celular')?.dirty || registerForm.get('celular')?.touched)">
          <div class="text-danger" *ngIf="registerForm.get('celular')?.errors?.['required']">El número de celular es obligatorio.</div>
          <div class="text-danger" *ngIf="registerForm.get('celular')?.errors?.['minlength']"> <br>El número de celular debe tener al menos 10 dígitos.</div>
          <div class="text-danger" *ngIf="registerForm.get('celular')?.errors?.['maxlength']"><br>El número de celular no debe exceder los 10 dígitos.</div>
          <div class="text-danger" *ngIf="registerForm.get('celular')?.errors?.['pattern']"><br>El número de celular solo debe contener números.</div>
        </div>
        <!-- fin celular responsable -->


        <!-- inicio rol responsable -->
        <!-- -->
        <div class="form-group">
          <label for="rol">Rol Responsable</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i *ngIf="registerForm.get('rol')?.valid || !registerForm.get('rol')?.touched" class="fas fa-user-tag"></i>
                <i *ngIf="registerForm.get('rol')?.invalid && registerForm.get('rol')?.touched" class="fas fa-times-circle text-danger"></i>
            </span>
            </div>
            <select class="form-control" id="rol" formControlName="rol">
              <option value="" disabled selected>Selecciona un rol</option>
              <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
            </select>
          </div>
          <div *ngIf="registerForm.get('rol')?.invalid && (registerForm.get('rol')?.dirty || registerForm.get('rol')?.touched)">
            <div class="text-danger" *ngIf="registerForm.get('rol')?.errors?.['required']">El rol es obligatorio.</div>
          </div>
        </div>
        <!-- fin rol responsable -->


        <!-- inicio cargo responsable -->
        <div class="form-group">
          <label for="cargo">Cargo Responsable</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i *ngIf="registerForm.get('cargo')?.valid || !registerForm.get('cargo')?.touched" class="fas fa-ghost"></i>
                <i *ngIf="registerForm.get('cargo')?.invalid && registerForm.get('cargo')?.touched" class="fas fa-times-circle text-danger"></i>
            </span>
            </div>
            <select class="form-control" id="cargo" formControlName="cargo">
              <option value="" disabled selected>Selecciona un cargo</option> <!-- Opción predeterminada -->
              <option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</option>
            </select>
          </div>
          <div *ngIf="registerForm.get('cargo')?.invalid && (registerForm.get('cargo')?.dirty || registerForm.get('cargo')?.touched)">
            <div class="text-danger" *ngIf="registerForm.get('cargo')?.errors?.['required']">El cargo es obligatorio.</div>
          </div>
        </div>

        <!-- fin nombre responsable -->

        <!-- inico area  responsable -->
        <div class="form-group">
          <label for="area">Área Responsable</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i *ngIf="registerForm.get('area')?.valid || !registerForm.get('area')?.touched" class="fas fa-briefcase"></i>
                <i *ngIf="registerForm.get('area')?.invalid && registerForm.get('area')?.touched" class="fas fa-times-circle text-danger"></i>
            </span>
            </div>
            <select class="form-control" id="area" formControlName="area">
              <option value="" disabled selected>Selecciona un área</option> <!-- Opción predeterminada -->
              <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
            </select>
          </div>
          <div *ngIf="registerForm.get('area')?.invalid && (registerForm.get('area')?.dirty || registerForm.get('area')?.touched)">
            <div class="text-danger" *ngIf="registerForm.get('area')?.errors?.['required']">El área es obligatoria.</div>
          </div>
        </div>

        <!-- fin area responsable -->

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <a href="login-junical" class="text-center">Ya tengo cuenta</a>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-outline-primary btn-block">Registrar</button>
          </div>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
</div>




