<!-- Main Sidebar Container -->
<div id="main-container">
<aside class="main-sidebar sidebar-dark-primary elevation-4 fixed-sidebar">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/dist/img/Junical.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Rondas Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img Src="./assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image" height="215"
             width="215">
      </div>
      <div class="info">
        <a href="#" class="d-block">Mateo Rico</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../../index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>En proceso</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a href="../widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Rondas Disponibles
            </p>
          </a>
        </li>
        <!-- Rondas Inicio -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-layer-group"></i>
            <p>
              Crear Rondas
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">3</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard/crear-ronda" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Nueva Ronda</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>En proceso </p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Rondas Fin -->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chess-queen"></i>
            <p>
              Parametrización
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard/torre-junical" class="nav-link">
                <i class="nav-icon fas fa-gopuram"></i>
                <p>Torres</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/piso-junical" class="nav-link">
                <i class="nav-icon far fa-building"></i>
                <p>Pisos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/area-respons" class="nav-link">
                <i class="nav-icon fas fa-chart-area"></i>
                <p>Áreas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/zona-junical" class="nav-link">
                <i class="nav-icon fas fa-city"></i>
                <p>Zonas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/categoria-junical" class="nav-link">
                <i class="nav-icon fab fa-battle-net"></i>
                <p>Categorias</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/respons-jefearea" class="nav-link">
                <i class="nav-icon fas fa-file-medical"></i>
                <p>Jefe de Área</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/cargo-respons" class="nav-link">
                <i class="nav-icon fas fa-id-badge"></i>
                <p>Cargos</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            Reportes
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="dashboard/reporte-general" class="nav-link">
              <i class="nav-icon fa fa-list-alt"></i>
              <p>Reporte General</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="dashboard" class="nav-link">
              <i class="nav-icon fa fa-list"></i>
              <p>Lista de Reportes</p>
            </a>
          </li>
        </ul>
      </li>

        <!-- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Usuarios
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="register-junical" class="nav-link">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Registrar Usuario</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/lista-usuarios" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Lista de Usuarios</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- -->
        <!-- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-address-book"></i>
            <p>
              Roles y Permisos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard/permisos" class="nav-link">
                <i class="fa fa-user-times nav-icon"></i>
                <p>Asignar Permisos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/roles" class="nav-link">
                <i class="fa fa-user-secret nav-icon"></i>
                <p>Asignar Rol</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- -->

        <!-- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              Notificaciones
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard/notificaciones-junical" class="nav-link">
                <i class="nav-icon fas fa-comment-dots"></i>
                <p>En proceso</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/" class="nav-link">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>En proceso</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- -->

        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-toolbox"></i>
            <p>
              Configuraciones
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard/config-general" class="nav-link">
                <i class="nav-icon fa fa-cog"></i>
                <p>General</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/config-user" class="nav-link">
                <i class="nav-icon fas fa-user-clock"></i>
                <p>Usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="dashboard/config-sistema" class="nav-link">
                <i class="nav-icon fa fa-cogs"></i>
                <p>Sistema</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">OPCIONES</li>
        <li class="nav-item">
          <a href="dashboard/calendario" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendario
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Otros
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../kanban.html" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Otros
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>
              Otros
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../mailbox/mailbox.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Otros</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-header">Otros</li>

        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentación</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
</div>
